@inherits Fluxor.Blazor.Web.Components.FluxorComponent
@page "/asserts"
@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration

<h1>Assert Explorer for LYRA Block Lattice </h1>

@if(LyraAsserts != null)
{
    <hr />
    <p>Last updated (UTC): @Snap.Updated</p>
    <table class="table">
        <thead>
            <tr>
                <th>Assert Name</th>
                <th>Total Supply</th>
                <th>Create</th>
                <th>Holders</th>
                <th>Owner Account ID</th>
                <th>Liquidate Pool</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var tg in LyraAsserts)
            {
               <tr>
                   <td>@tg.Name</td>
                   <td>@(tg.Supply.ToString("n"))</td>
                   <td>@tg.Created</td>
                   <td>@tg.Holders</td>
                   <td><a href="/showblock/@tg.OwnerAccountId">@tg.OwnerAccountId.Substring(0, 10)...</a></td>

                   @if(tg.Name == "LYR")
                   {
                       <td></td>
                   }
                   else if(tg.AssociatedPoolId != null)
                   {
                       <td>Swap Token (TBA)</td>
                   }
                   else
                   {
                       <td>Create Liquidate Pool (TBA)</td>
                   }                   
               </tr>
            }
            </tbody>
            </table>


}