@inherits Fluxor.Blazor.Web.Components.FluxorComponent
@page "/"
@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration

<h1>Block Explorer for LYRA Block Lattice </h1>
<h2>@Configuration["network"]</h2>
<h3>Search by Hash or Account ID</h3>

<MudTextField T="string" Label="Hash or Account ID" TextChanged="@oninput" />

@if (CurrentSupply.RichList != null && CurrentSupply.Snap?.Network == Configuration["network"])
{
    <hr />
    <h1>Lyra Token Supply Chart</h1>
    <p>Total Supply: 10,000,000,000 LYR</p>
    <p>Burned: @CurrentSupply.Current.Burned.ToString("n0") LYR</p>
    <p>Team/Locked/Reserved: @CurrentSupply.Current.TeamTotal.ToString("n0") LYR, @CurrentSupply.Current.TeamRito % of Total Supply.</p>
    <p>Circulating Supply: @CurrentSupply.Current.Circulate.ToString("n0") LYR, @CurrentSupply.Current.CirculateRito % of Total Supply.</p>
    <hr />
    <div>
        <h1>Lyra Rich List</h1>
        <p>Shows only top 100 accounts. Last updated (UTC): @CurrentSupply.Snap.Updated</p>
        <table class="table">
            <thead>
                <tr>
                    <th>Rank</th>
                    <th>Account ID</th>
                    <th>Balance</th>
                    <th>Unreceived Balance</th>
                    <th>Total Token</th>
                    <th>Total Rito</th>
                    <th>Tag</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var rich in CurrentSupply.RichList)
                {
                    <tr>
                        <td>@rich.Order</td>
                        <td><a href="/showblock/@rich.AccountId">@rich.AccountId</a></td>
                        <td>@rich.Balance.Total</td>
                        <td>@rich.Balance.UnRecv</td>
                        <td>@rich.Sum</td>
                        <td>@rich.SumRito %</td>
                        <td>@rich.Tag</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>


}
