@using Fluxor
@using Lyra.Data.Crypto
@using Microsoft.Extensions.Configuration
@using Nebula.Store.WebWalletUseCase
@inject IConfiguration Configuration

@if (ui == UI.Entry)
{
    <Button Type="@ButtonType.Primary" OnClick="@(async ()=>{ await AddLiquidity(); })">Add Liquidity</Button>


    <p>
        <div>Your Liquidity</div>
    </p>
    <div>No Liquidity Found</div>
}

@if (ui == UI.Adding)
{
    <div>
        <Button Type="@ButtonType.Primary"
            Icon="@IconType.Outline.ArrowLeft"
            OnClick="BackEntry" />
        Add Liquidity
    </div>
    <div>
        <table>
            <tr>
                <td>Input</td>
                <td>Balance: @balance1</td>
            </tr>
            <tr>
                <td><AntDesign.Input Placeholder="Enter an amount" @bind-Value="@amount1" /></td>
                <td>
                    <Select DataSource="@tickers"
                        @bind-Value="@selectedTicker1"
                        Style="width:220px"
                        OnSelectedItemChanged="OnSelectedItemChangedHandler1">
                    </Select>
                </td>
            </tr>
            <tr>
                <td>+</td>
                <td></td>
            </tr>
            <tr>
                <td>Input</td>
                <td>Balance: @balance2</td>
            </tr>
            <tr>
                <td><AntDesign.Input Placeholder="Enter an amount" @bind-Value="@amount2" /></td>
                <td>
                    <Select DataSource="@tickers"
                        @bind-Value="@selectedTicker2"
                        Style="width:220px"
                        OnSelectedItemChanged="OnSelectedItemChangedHandler2">
                    </Select>
                </td>
            </tr>
        </table>
    </div>

    <div>
    </div>
}

@code {

    [Inject]
    private IState<WebWalletState> walletState { get; set; }

    [Inject]
    private IDispatcher Dispatcher { get; set; }

    enum UI { Entry, Adding }
    UI ui;

    decimal amount1, amount2;
    decimal balance1, balance2;
    List<string> tickers;
    string selectedTicker1;
    string selectedTicker2;

    public Pool()
    {
    }

    protected override void OnInitialized()
    {
        ui = UI.Entry;


    }

    private void BackEntry()
    {
        ui = UI.Entry;
    }

    private async Task AddLiquidity()
    {
        var lc = LyraRestClient.Create(Configuration["network"], Environment.OSVersion.ToString(), "Nebula", "1.4");

        // for api sign only
        var pk = "n4uh7o2kAerPZQSNBRirzA3pSUBEuEhs6r7oRwpV6Dgbs3FvY";
        var pub = "LBRzScs8NwMcr7U8i9a8sSWETseWf3TLge4CVJy6as24hSB4hwtZ5jKTbHJdoVZBJiNC2LpjN9MQB719Py9YxXo2xpLxnS";

        var lsbret = await lc.GetLastServiceBlockAsync();

        var sign = Signatures.GetSignature(pk, (lsbret.GetBlock() as ServiceBlock).Hash, pub);
        var tokens = await lc.GetTokenNamesAsync(pub, sign, "(null)");

        tickers = tokens.Entities
            .Where(a => !a.StartsWith("unittest/"))
            .ToList();
        tickers.Insert(0, "LYR");

        ui = UI.Adding;
    }

    private void OnSelectedItemChangedHandler1(string value)
    {
        if(walletState.Value.wallet != null)
        {
            var blk = walletState.Value.wallet.GetLatestBlock();
            if (blk.Balances.ContainsKey(value))
                balance1 = blk.Balances[value].ToBalanceDecimal();
            else
                balance1 = 0;
        }
        else
             balance1 = 0;
    }
    private void OnSelectedItemChangedHandler2(string value)
    {
        if(walletState.Value.wallet != null)
        {
            var blk = walletState.Value.wallet.GetLatestBlock();
            if (blk.Balances.ContainsKey(value))
                balance2 = blk.Balances[value].ToBalanceDecimal();
            else
                balance2 = 0;
        }
        else
            balance2 = 0;
    }
}
