@namespace UserLibrary.Components

@using DexServer.Ext
@using System.ComponentModel
@using Fluxor
@using Lyra.Core.API
@using Lyra.Core.Accounts
@using Lyra.Core.Blocks
@using Lyra.Data.API
@using Lyra.Data.Shared
@using Microsoft.AspNetCore.Components.Web
@using Microsoft.Extensions.Configuration
@using Nebula.Data
@using Nebula.Store.WebWalletUseCase
@using UserLibrary.Data
@inject IConfiguration Configuration

<style>
    .ant-progress-circle-wrap,
    .ant-progress-line-wrap {
        margin-right: 8px;
        margin-bottom: 5px;
    }
</style>

@if (walletState.Value.wallet == null)
{

    <a href="/wallet"><MudButton Color="Color.Primary">Open Wallet</MudButton></a>
}
else
{

    @if (tokens == null)
    {
        <p><em>Loading wallets... This may take a while.</em></p>
        <div class="spinner"></div>
    }
    else
    {
        foreach (var token in tokens)
        {
            <MudCard>
                <MudCardHeader>
                    <CardHeaderAvatar>
                        <MudAvatar Color="Color.Secondary">I</MudAvatar>
                    </CardHeaderAvatar>
                    <CardHeaderContent>
                        <MudText Typo="Typo.body1">@token.Name</MudText>
                    </CardHeaderContent>
                    <CardHeaderActions>
                        <MudIconButton Icon="@Icons.Material.Filled.Settings" Color="Color.Default" />
                    </CardHeaderActions>
                </MudCardHeader>
                <MudCardContent>
                    <MudText Typo="Typo.h5">Balances</MudText>
                    <MudText Typo="Typo.body2">
                        Spot:
                        <MudIconButton Icon="fas fa-fighter-jet" Color="Color.Dark"
                           OnClick="@(async ()=>{ await OnTransferClick(token, false); })"></MudIconButton>
                        @token.MyBalance
                    </MudText>
                    <MudText Typo="Typo.body2">
                        DEX:
                        <MudIconButton Icon="fas fa-fighter-jet" Color="Color.Dark"
                           OnClick="@(async ()=>{ await OnTransferClick(token, true); })"></MudIconButton>
                        @token.DexBalance
                    </MudText>
                </MudCardContent>
                <MudCardActions>
                    <MudButton Color="Color.Primary" OnClick="@(()=>{ OnDepositClick(token); })">
                        Deposit
                    </MudButton>
                    <MudButton Color="Color.Primary" OnClick="@(()=>{ OnWithdrawClick(token); })">
                        Withdraw
                    </MudButton>
                </MudCardActions>
            </MudCard>
        }


        <MudDivider />

        <div>
            <MudButton Color="Color.Primary" OnClick="@RefreshAllWallets">Refresh All Balance</MudButton>
        </div>

    }
}


@code {

    [Inject]
    private IState<WebWalletState> walletState { get; set; }

    [Inject]
    private IDispatcher Dispatcher { get; set; }

    [Inject] IDialogService DialogService { get; set; }
    [Inject] ISnackbar Snackbar { get; set; }

    double intervalBeforeMsgClose = 2000;

    WalletView selectedrow;

    string withdrawTitle;
    bool withdrawVisible = false;
    string withdrawAddress;
    decimal withdrawAmount;
    decimal withdrawMin, withdrawMax, withdrawDefault;

    int crwalletprogress;
    bool crwalletshow;

    List<WalletView> tokens;
    WalletView token;
    string address;

    string title = "BasicModal";
    bool visible = false;
    string symbol;
    string provider;
    string contract;
    decimal mindep;
    string confirm;
    decimal depfee, wdrfee;

    string dexWalletId = null;
    string ticker = null;
    bool transferVisible = false;
    string transferTitle;
    decimal transferAmount;
    decimal transferMin = 1;
    decimal transferMax;
    decimal transferDefault;
    bool transferToDex;
    bool _confirmLoading = false;

    async Task OnTransferClick(WalletView row, bool toDex)
    {
        try
        {
            if (row.DexWalletID == null)
            {
                // user have not create wallet yet.
                Snackbar.Add("Creating a DEX wallet for you", Severity.Info);

                var wallet = walletState.Value.wallet;
                await wallet.SyncAsync(null);
                var crdexret = await wallet.CreateDexWalletAsync(row.Symbol, row.NetworkProvider);
                if (crdexret.Successful())
                {
                    Snackbar.Add($"DEX Wallet for {row.Symbol} has been created. Refreshing...", Severity.Success);

                    await RefreshAllWallets();

                    Snackbar.Add($"Refreshed.", Severity.Success);
                }
                else
                {
                    Snackbar.Add($"DEX Wallet for {row.Symbol} was not created.", Severity.Warning);
                }
            }
            else
            {
                var args = new DexTransferArgs
                    {
                        title = toDex ? "Transfer funds from my wallet to DEX wallet" : "Transfer funds from DEX wallet to my wallet",
                        min = 0,
                        max = toDex ? row.MyBalance : row.DexBalance,
                        val = toDex ? row.MyBalance : row.DexBalance,
                        symbol = row.Symbol
                    };

                symbol = row.Symbol;
                transferAmount = toDex ? row.MyBalance : row.DexBalance;
                transferToDex = toDex;
                dexWalletId = row.DexWalletID;
                ticker = $"tether/{row.Symbol}";

                var parameters = new DialogParameters { ["Args"] = args };

                var dialog = DialogService.Show<DexDialogTransfer>("Transfer", parameters);
                var result = await dialog.Result;

                if (!result.Cancelled)
                {
                    transferAmount = (decimal)result.Data;
                    await Transfer();
                }
            }

        }
        catch (Exception ex)
        {
            //Err.ProcessError(ex);

        }

    }

    void OnDepositClick(WalletView row)
    {
        token = row;

        title = "Deposit funds for " + token.Name;
        symbol = token.Symbol;
        provider = token.NetworkProvider;
        contract = token.Contract.Shorten();
        address = token.Address;
        mindep = token.MinDeposit;
        confirm = token.ConfirmationInfo;
        depfee = token.DepositFee;
        wdrfee = token.WithdrawFee;

        if (string.IsNullOrWhiteSpace(token.Address))
        {
            crwalletprogress = 0;
            crwalletshow = true;
            StateHasChanged();
            if (walletState.Value.wallet != null && walletState.Value.wallet.BaseBalance >= 11m)
            {
                Task.Run(async () =>
                    {
                        crwalletprogress = 10;
                        await InvokeAsync(() => StateHasChanged());

                        var wallet = walletState.Value.wallet;
                        var ret = await wallet.CreateDexWalletAsync(symbol, provider);
                        if (ret.Successful())
                        {
                            crwalletprogress = 30;
                            await InvokeAsync(() => StateHasChanged());

                            for (var i = 30; i < 100; i++)
                            {
                                var dw = await wallet.FindDexWalletAsync(wallet.AccountId, symbol, provider);

                                if (dw == null)
                                {
                                    crwalletprogress = i;
                                    await InvokeAsync(() => StateHasChanged());

                                    await Task.Delay(500);
                                    continue;
                                }

                                token.Address = dw.ExtAddress;
                                address = token.Address;

                                crwalletprogress = 100;

                                await InvokeAsync(() => StateHasChanged());

                                break;
                            }
                        }
                        else
                        {
                            crwalletprogress = 0;
                        }
                        await InvokeAsync(() => StateHasChanged());
                    });
            }
            else
            {
                Snackbar.Add($"You need at least 11 LYR to create a DEX wallet.", Severity.Error);
                return;
            }
        }
        else
        {
            crwalletshow = false;
        }
        visible = true;
    }

    void OnWithdrawClick(WalletView row)
    {
        token = row;
        if (!string.IsNullOrWhiteSpace(token.Address)
            && walletState.Value.wallet != null
            && walletState.Value.wallet.BaseBalance >= 1m
            && row.DexWalletID != null
            && row.DexBalance > 0
            )
        {
            withdrawTitle = $"Withdraw {row.Symbol} to your address on {row.Name} {row.NetworkProvider}";
            dexWalletId = row.DexWalletID;
            provider = row.NetworkProvider;
            symbol = row.Symbol;
            contract = row.Contract;
            withdrawMin = row.MinWithdraw;
            withdrawMax = row.DexBalance;
            withdrawDefault = withdrawMax;
            withdrawAmount = withdrawMax;
            withdrawAddress = "";

            depfee = row.DepositFee;
            wdrfee = row.WithdrawFee;

            withdrawVisible = true;
        }
        else
        {
            Snackbar.Add($"No Token found.", Severity.Error);
        }
    }

    private async Task StartWithdraw()
    {
        withdrawVisible = false;

        StateHasChanged();

        var wallet = walletState.Value.wallet;
        var wdwret = await wallet.DexWithdrawTokenAsync(dexWalletId, withdrawAddress, withdrawAmount);
        Snackbar.Add(wdwret.ResultCode.ToString(), wdwret.Successful() ? Severity.Success : Severity.Error);

        if (wdwret.Successful())
        {
            var wv = tokens.First(a => a.DexWalletID == dexWalletId);
            wv.DexBalance -= withdrawAmount;
        }

        StateHasChanged();
    }

    private void HandleCancel3()
    {
        withdrawVisible = false;
    }

    protected async override Task OnInitializedAsync()
    {
        try
        {
            if (walletState.Value.wallet != null)
                await RefreshAllWallets();
        }
        catch (Exception e)
        {
            Console.WriteLine("Error DexWallet OnInitializedAsync " + e.ToString());
        }

        //StateHasChanged();
    }

    private async Task RefreshAllWallets()
    {
        var dc = new DexClient(Configuration["network"]);
        var ext = await dc.GetSupportedExtTokenAsync(Configuration["network"]);
        //_tokens = ext.Asserts;

        var wallet = walletState.Value.wallet;
        //var lc = LyraRestClient.Create(Configuration["network"], Environment.OSVersion.ToString(), "Nebula", "1.4");
        var brks = await wallet.GetAllDexWalletsAsync(wallet.AccountId);
        await wallet.SyncAsync(null);

        tokens = new List<WalletView>();
        foreach (var ast in ext.Asserts)
        {
            var wv = new WalletView
                {
                    Name = ast.Name,
                    Symbol = ast.Symbol,
                    NetworkProvider = ast.NetworkProvider,
                    Contract = ast.Contract,
                    MinDeposit = ast.MinDeposit,
                    ConfirmationInfo = ast.ConfirmationInfo,
                    DepositFee = ast.DepositFee,
                    WithdrawFee = ast.WithdrawFee,
                    MinWithdraw = ast.MinWithdraw,
                    DailyWithdrawLimit = ast.DailyWithdrawLimit,
                };
            var bt = brks.FirstOrDefault(a => a.ExtSymbol == ast.Symbol) as TransactionBlock;
            var key = $"tether/{ast.Symbol}";
            if (bt != null)
            {
                if (bt.Balances.ContainsKey(key))
                    wv.DexBalance = bt.Balances[key].ToBalanceDecimal();
                else
                    wv.DexBalance = 0;
                wv.Address = (bt as IDexWallet).ExtAddress;
                wv.DexWalletID = bt.AccountID;
            }
            else
                wv.DexBalance = 0;

            var lb = wallet.GetLatestBlock();
            if (lb != null && lb.Balances.ContainsKey(key))
            {
                wv.MyBalance = lb.Balances[key].ToBalanceDecimal();
            }
            else
                wv.MyBalance = 0;

            tokens.Add(wv);
        }
    }

    private void HandleOk()
    {
        visible = false;
    }

    private void HandleCancel()
    {
        visible = false;
    }

    private async Task Transfer()
    {
        _confirmLoading = true;
        transferVisible = false;
        StateHasChanged();

        if (transferAmount <= 0)
            return;

        var wallet = walletState.Value.wallet;
        APIResult ret = null;
        if (transferToDex)
        {
            await wallet.SyncAsync(null);
            ret = await wallet.DexPutTokenAsync(dexWalletId, ticker, transferAmount);
        }
        else
        {
            await wallet.SyncAsync(null);
            ret = await wallet.DexGetTokenAsync(dexWalletId, transferAmount);
        }

        _confirmLoading = false;

        Snackbar.Add(ret.ResultCode.ToString(), ret.Successful() ? Severity.Success : Severity.Error);

        if (ret.Successful())
        {
            var wv = tokens.First(a => a.DexWalletID == dexWalletId);
            if (transferToDex)
            {
                wv.MyBalance -= transferAmount;
                wv.DexBalance += transferAmount;
            }
            else
            {
                wv.MyBalance += transferAmount;
                wv.DexBalance -= transferAmount;
            }
        }
    }

    private void HandleCancel2()
    {
        transferVisible = false;
    }
}
