@namespace UserLibrary.Pages
@page "/webwallet"
@page "/wallet"
@page "/wallet/{action}/{target}"

@inherits Fluxor.Blazor.Web.Components.FluxorComponent

@using BlazorZXingJs
@using Fluxor
@using Lyra.Core.API
@using Lyra.Data.API
@using Lyra.Data.Crypto
@using Microsoft.AspNetCore.Components.Web
@using Microsoft.JSInterop
@using Nebula.Store.WebWalletUseCase
@using Nebula.Data
@using Microsoft.Extensions.Configuration
@using Blazored.LocalStorage
@using Microsoft.Extensions.Logging
@using Microsoft.Extensions.Options
@inject IConfiguration Configuration
@inject NavigationManager Navigation
@inject Blazored.LocalStorage.ILocalStorageService localStore
@inject ILogger<WebWallet> logger
@inject ILyraAPI lyraClient
@using UserLibrary.Components

@if (walletState.Value.IsLoading || busy || busysend)
{
    <div style="z-index: 5;" class="spinner"></div>
}

@if (!string.IsNullOrEmpty(walletState.Value.error))
{
    <p>
        @walletState.Value.error
    </p>
}

@if (walletState.Value.wallet != null)
{
    <MudTabs Elevation="4" Rounded="true" Centered="true" Color="@Color.Primary" ApplyEffectsToContainer="true" PanelClass="pa-6">
        <MudTabPanel Text="Home">
            <MudButton Color="Color.Success" OnClick="@Refresh">
                @if (busy)
                {
                    <MudProgressCircular Class="ms-n1" Size="Size.Small" Indeterminate="true" />
                    <MudText Class="ms-2">Processing</MudText>
                }
                else
                {
                    <MudText>Receive</MudText>
                }
            </MudButton>
            <MudButton Color="Color.Info" OnClick="@ToggleSend">Transfer</MudButton>

            @if (showsend)
            {
                <div class="simp">
                    <p>
                        Destination Wallet Address:<br />
                        <MudTextField T="string" Label="Address" @bind-Value="@dstAddr" />
                        <a href="/scan">
                            <MudButton Color="Color.Primary">Scan QR-Code</MudButton>
                        </a>
                    </p>
                    <p>
                        Token Name:<br />
                        <MudTextField T="string" Label="Name" @bind-Value="@tokenName" />
                    </p>
                    <p>
                        Amount:<br />
                        <MudNumericField T="decimal" Label="Amount" @bind-Value="@amount" />
                    </p>
                    <MudButton Color="Color.Primary" OnClick="@SendTokenAsync">
                        @if (busysend)
                        {
                            <MudProgressCircular Class="ms-n1" Size="Size.Small" Indeterminate="true" />
                            <MudText Class="ms-2">Processing</MudText>
                        }
                        else
                        {
                            <MudText>Send Token</MudText>
                        }
                    </MudButton>
                </div>

                <MudDivider />
            }

            <div class="cet">
                @if (walletState.Value.wallet.GetLatestBlock() != null)
                {
                    @foreach (var kvp in walletState.Value.wallet.GetLatestBlock().Balances)
                    {
                        <MudCard>
                            <MudCardHeader>
                                <CardHeaderContent>
                                    <MudText Typo="Typo.h6">@kvp.Key.Replace("tether/", "$")</MudText>
                                </CardHeaderContent>
                                <CardHeaderActions>
                                    <MudButton Color="Color.Primary"
                                   OnClick="@(async ()=>{ await SendX(kvp.Key); })">Send</MudButton>
                                </CardHeaderActions>
                            </MudCardHeader>
                            <MudCardContent>
                                <MudText>This day everything happend.</MudText>
                                <MudText Typo="Typo.body2">@($"{kvp.Value.ToBalanceDecimal():N4}")</MudText>
                            </MudCardContent>
                        </MudCard>
                    }

                    <MudCard>
                        <MudCardHeader>
                            <CardHeaderContent>
                                <MudText Typo="Typo.h6">Your New Token</MudText>
                            </CardHeaderContent>
                            <CardHeaderActions>

                            </CardHeaderActions>
                        </MudCardHeader>
                        <MudCardContent>
                            <div style="height: 100%; display: flex; align-items: center; justify-content: center">
                                <a href="mint">
                                    <MudIconButton Icon="@Icons.Material.Filled.Favorite" Color="Color.Secondary" aria-label="add to favorite"></MudIconButton>
                                </a>
                            </div>
                        </MudCardContent>
                    </MudCard>
                }

            </div>

        </MudTabPanel>

        <MudTabPanel Text="Staking">
            @if (walletState.Value.brokerAccounts != null)
            {
                <Staking />
            }
            else
            {
                Dispatcher.Dispatch(new WebWalletStakingAction { wallet = walletState.Value.wallet });
                <p>Refreshing...</p>
            }

        </MudTabPanel>
        <MudTabPanel Text="DEX">
            <UserLibrary.Components.DexWallets />
        </MudTabPanel>
        <MudTabPanel Text="Settings">

            <div>
                <h3>Scan to Pay Me</h3>
                <p><QRCodeWriter Text="@walletState.Value.wallet.AccountId" Width="300" Heigth="300"></QRCodeWriter></p>
                <MudDivider />
                <p><span title="Click to toggle to display" @onclick="ToggleKey">Your wallet's private key is (click to unhide/hide): </span><span>@altDisplay</span></p>
                <p>Your wallet's address is: <a href="/showblock/@walletState.Value.wallet.AccountId">@walletState.Value.wallet.AccountId</a></p>
                <p>Your wallet's balance is: @walletState.Value.balanceString</p>
                <p>Your are now voting for: @walletState.Value.wallet.VoteFor</p>

                <p>
                    Vote For Address:
                    <MudTextField T="string" Label="Address" @bind-Value="@voteAddr" />
                </p>
                <div>
                    <p style="color: red">Please save private key properly if you want to open this wallet again.</p>
                </div>
                <hr />
                <button class="btn btn-primary" @onclick="Transactions">
                    Transactions
                </button>
                @if (walletState.Value.txs != null)
                {
                    <pre>
                        @foreach (var tx in walletState.Value.txs)
                        {
                            @tx <br />

                        }
                                </pre>
                }
                &nbsp;<button class="btn btn-primary" @onclick="SaveSettings">Save</button>
                &nbsp;<button class="btn btn-primary" @onclick="CloseWallet">Close Wallet</button>
            </div>
        </MudTabPanel>

        @if (!string.IsNullOrWhiteSpace(Configuration["faucetPvk"]) && Configuration["network"] != "mainnet" && walletState.Value.wallet.BaseBalance == 0m && !walletState.Value.freeTokenSent) //&& walletState.Value.freeTokenTimes < 3
        {
            <MudTabPanel Text="Free Token">
                <div>
                    <p>Current balance of faucet account: <em>@walletState.Value.faucetBalance</em> LYR</p>
                </div>

                @*    <div class="section">
                    <ReCAPTCHA @ref="reCAPTCHAComponent" SiteKey="6Lftd8gZAAAAAK5G9aHUFY7wtV1yocfAf2Vj-EmI" OnSuccess="OnSuccess" OnExpired="OnExpired" />
                    </div>*@

                <div class="section">
                    <button class="btn btn-success" @onclick="OnClickPost" disabled="@walletState.Value.DisablePostButton">
                        Send me Token!
                    </button>
                    &nbsp;&nbsp;
                    <button class="btn btn-primary" @onclick="Return">Return</button>
                </div>
            </MudTabPanel>
        }
    </MudTabs>





}
else
{
    try
    {
        Navigation.NavigateTo("login");
    }
    catch (Exception e)
    {

    }
}
